.navbar {
  position: fixed;
  top: 0;
  margin: 0 !important;
  background: transparent;
  border-bottom: 1px solid rgba(250, 250, 250, 0.1);
  width: 100vw;
  z-index: 100;
  transition: all .25s ease-in;
}
.navbar.scrolled {
  background: rgba(0, 0, 0, 0.8);
}
.navbar.scrolled > .container > .navbar-brand {
  font-size: 1.3rem;
}
.navbar > .container > .navbar-brand {
  font-size: 1.5rem;
  transition: all .25s ease-in;
}
.navbar > .container > a {
  color: #fff;
  text-shadow: 1px 1px 1px #333;
}
.navbar > .container > .nav > .nav-item > a {
  color: #fff !important;
  text-shadow: 1px 1px 1px #333;
  border-bottom: 1px solid #fff;
  transition: all .25s ease-in;
}
.navbar > .container > .nav > .nav-item > a:hover {
  border-bottom: 1px solid tomato;
}
.banner {
  height: 100vh
}
.banner > .ifull {
  position: absolute;
  filter: blur(1px) grayscale(60%);
  width: 100%;
  min-height: 100vh;
  height: 120%;
  background: url("/images/banner.jpg") center no-repeat;
  background-size: cover;
}
.banner > .contenedor {
  padding: 1rem;
  position: relative;
  z-index: 90;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  padding-top: 60px;
  max-width: 960px;
  margin: 0 auto;
}

.main {
  position: relative;
  background: #222;
  margin-top: 0px !important;
  padding: 2rem !important;
  color: #fff;
  margin: 0 auto;
}

.footer {
  position: relative;
  padding-left: 2rem;
  padding-top: 2rem;
  padding-right: 2rem;
  width: 100%;
  background:  #121212;
  color: #fafafa;
}
.footer > .barrainferior {
  width: 100%;
  background: #111;
  color: #fff;
  padding: .5rem;
  text-align: right;
}
